
h1{
    text-align: center;
}

li{
    background-color: purple;
}

ul li ul li{
    background-color: grey;
    padding-left: 5px;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}

ul li ul{
    list-style-type: none;
    padding-left: 0px;
}


body > ul:nth-of-type(2) li{
    padding: 0;
    display: inline;
}

body > ul:nth-of-type(2) li ul{
    padding: 0;
    display: inline-block;
}

body > ul:nth-of-type(3) {
    width:300px;
}

body > ul:nth-of-type(4) li{
    padding: 0;
    display: inline-block;
}

body > ul:nth-of-type(5) li{
    padding: 0;
    display: inline-block;
    float:left;
    clear: both;
}

body > ul:nth-of-type(5) li ul li{
    padding: 0;
    display: inline-block;
}
